
{% extends 'index.html.twig' %}
{% set title = 'WEDLS' %}
{% set keywords = 'Keywords' %}
{% set description = 'Description' %}
{% set h1 = title %}
{% set breadcrumb = title %}

{% block title %}{{ title }}{% endblock %}

{% block keywords %}{{ keywords }}{% endblock %}

{% block description %}{{ description }}{% endblock %}

{# на бдуюущее   #}
{% block h1 %}{{ h1 }}{% endblock %}

{% block breadcrumb %}{{ breadcrumb }}{% endblock %}


{% block content %}


    <h1 class="asd">Your lucky number is {{ number }}</h1>


{% endblock %}