
{% extends 'index.html.twig' %}
{% set title = 'WEDLS' %}
{% set keywords = 'Keywords' %}
{% set description = 'Description' %}
{% set h1 = title %}
{% set breadcrumb = title %}

{% block title %}{{ title }}{% endblock %}

{% block keywords %}{{ keywords }}{% endblock %}

{% block description %}{{ description }}{% endblock %}

{# на бдуюущее   #}
{% block h1 %}{{ h1 }}{% endblock %}

{% block breadcrumb %}{{ breadcrumb }}{% endblock %}


{% block content %}

    <h1 class="title">Главная страница</h1>

    <div class="block-lucky">
        <h4 class="text">Your lucky number </h4>
        <h2 class="number"> {{ number }}</h2>


        {% if auth == 'on' %}
            <p class="text">1</p>

        {% else %}
            <p class="text">0</p>
        {% endif %}
    </div>






{% endblock %}